# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [13]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [4]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')
cars1.head()
#print(cars2.head())

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1 = cars1.dropna(axis=1)

### Step 5. What is the number of observations in each dataset?

In [10]:
print("cars1: \n",cars1.info())
print("cars2: \n",cars2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB
cars1:
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           200 non-null    float64
 1   cylinders     200 non-null    int64
 2   displacement  200 non-null    int64
 3   horsepower    200 non-null    object
 4   weight        200 non-null    int64
 5   acceleration  200 non-null    float64
 6   model         200 non-null    int64
 7   origin        200 non-null    int64
 8   car           200 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.2+ KB
cars2:
 None

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [11]:
cars = cars1.append(cars2)
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    int64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model         398 non-null    int64
 7   origin        398 non-null    int64
 8   car           398 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 31.1+ KB

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [20]:
owners = np.random.randint(15000, high=73001, size=398, dtype='l') # pd.Series(np.random.randint(low=15000, high=73000, size=(cars.shape[0],)))
owners

array([68333, 47993, 65424, 50954, 46229, 21650, 62219, 26422, 30855,
       33517, 67071, 59989, 33918, 67394, 47758, 22633, 49996, 70103,
       52132, 28393, 69623, 65880, 58472, 67790, 35753, 65899, 61802,
       54764, 20032, 30822, 30674, 25543, 19328, 39524, 15313, 61376,
       70863, 34995, 32988, 62410, 16420, 65592, 54012, 48381, 17200,
       41336, 35854, 44350, 56724, 54019, 20601, 32944, 26887, 67033,
       15066, 53655, 31446, 22584, 29084, 63119, 66541, 20225, 63137,
       67923, 32512, 54572, 38394, 43294, 39364, 29052, 23857, 34949,
       56516, 23592, 59520, 59866, 62656, 45039, 39914, 37982, 38197,
       28471, 65157, 30856, 29226, 66105, 56271, 56468, 49143, 52878,
       51975, 48709, 46172, 30867, 54268, 18279, 40466, 27877, 51366,
       39502, 26423, 20282, 67542, 22830, 20118, 26407, 61759, 20925,
       44937, 33456, 41854, 28737, 72672, 32013, 56950, 55143, 30691,
       63854, 28470, 43794, 72600, 30432, 33739, 60837, 63044, 25741,
       51551, 59384, 29174, 28323, 62501, 50593, 72579, 57063, 19260,
       25469, 32153, 34134, 25608, 29863, 69041, 32326, 66490, 60698,
       58939, 25521, 38933, 61159, 67346, 44895, 45926, 46290, 26866,
       43867, 68128, 65508, 38643, 22979, 66188, 50198, 59511, 45764,
       56929, 38751, 27204, 28993, 19024, 19961, 55753, 39822, 57767,
       20854, 31148, 18583, 29345, 60431, 36673, 33789, 64630, 45535,
       46814, 56569, 46570, 68553, 19133, 30229, 38538, 20918, 58209,
       34036, 69550, 33670, 56454, 29730, 43600, 43587, 22692, 40861,
       55485, 65529, 37504, 61478, 48650, 22757, 33332, 19215, 16099,
       57048, 29100, 55335, 72953, 26265, 69904, 25921, 19666, 29785,
       27475, 47562, 29870, 44178, 66321, 33293, 39468, 26855, 64309,
       38756, 21978, 23117, 46627, 70477, 52364, 58134, 41695, 44519,
       24542, 65215, 35997, 37515, 26985, 20508, 32293, 19280, 66489,
       25590, 25549, 30922, 21858, 40935, 32064, 40655, 40611, 16168,
       62739, 21843, 63300, 30093, 20368, 21076, 43347, 55385, 18989,
       61512, 36095, 56358, 36653, 31031, 26734, 62219, 26572, 65563,
       37056, 65630, 67769, 71993, 34033, 50994, 18584, 67574, 63597,
       72438, 29284, 45767, 55128, 30214, 66216, 29427, 56248, 20127,
       24796, 17858, 54560, 23156, 58008, 47093, 72977, 25984, 20798,
       37734, 34786, 19325, 37715, 44537, 19771, 22986, 50399, 66508,
       35852, 24504, 32449, 68748, 55301, 42341, 25040, 31245, 40415,
       39599, 33967, 35503, 48160, 50037, 47263, 44315, 44145, 35513,
       61294, 53815, 19131, 24105, 20456, 35740, 39782, 55212, 39732,
       15830, 67804, 30310, 61462, 64019, 29732, 33588, 58491, 33413,
       33143, 42182, 67174, 63874, 34580, 54909, 51004, 48658, 23844,
       61116, 56528, 40920, 46549, 58930, 39034, 21854, 19271, 54412,
       18831, 19519, 46347, 20318, 36484, 66927, 54730, 69565, 70670,
       60489, 23015, 49045, 59721, 37013, 34173, 42786, 49736, 58978,
       63707, 30925, 19400, 69846, 54104, 52093, 36580, 52416, 24797,
       71052, 30840, 25863, 68977, 23235, 59931, 36091, 46089, 27069,
       37389, 29524])

### Step 8. Add the column owners to cars

In [21]:
cars['owners'] = owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,68333
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,47993
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,65424
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,50954
4,17.0,8,302,140,3449,10.5,70,1,ford torino,46229